DISCORD_CLIENT_ID=your_discord_client_id_here
JELLYFIN_URL=http://your_jellyfin_ip:8096
JELLYFIN_API_KEY=your_jellyfin_api_key_here
TMDB_API_KEY=your_tmdb_api_key_here
JELLYFIN_DEVICE_ID=your_device_id_here
